:root {
  --main-color: antiquewhite;
  --secondary-color: #fffae4;
}
body {
  background-color: var(--main-color);
}
h1,
h2 {
  text-align: center;
  font-family: "Abril Fatface";
}
h1 {
  font-size: 50px;
  text-decoration: underline;
}
h2 {
  margin-top: 30px;
}
p {
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}
#logo {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.wrapLogo {
  padding: 160px 20px;
  background-color: var(--main-color);
}
#about-us-containter {
  background-color: black;
}
.wrap {
  margin: 1px auto;
  padding: 30px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.wrap-FAQ {
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: black;
  margin: 30px 60px auto;
  /* margin-left: 135px;
  margin-right: 135px; */
}

.figure {
  position: relative;
  max-width: 100%;
}
#sodaCan {
  margin-top: 30px;
  max-width: 90%;
  display: flex;
  justify-content: left;
  border: 5px solid black;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}
.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
#slogan {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--main-color);
}
.btn-primary-link {
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: black;
  font-weight: bold;
}
.btn-primary-link:hover {
  background-color: black;
  color: var(--secondary-color);
  border: 2px solid black;
  transition-duration: 300ms;
}
.container {
  margin-top: 20px;
}
hr {
  height: 3px;
  background-color: black;
  border: none;
}
.gif {
  display: flex;
  justify-content: flex-end;
  border: 5px solid black;
  max-width: 100%;
}
@media (max-width: 576px) {
  /* index */
  #logo {
    max-width: 70%;
  }
  .btn-primary-link {
    padding: 15px 15px;
  }
  .navigation-links a {
    margin: 5px;
    font-size: 10px;
  }
  .wrapLogo {
    padding: 100px 20px;
  }
  .wrap {
    margin: 0px 9px;
  }
  .wrap h1 {
    font-size: 25px;
  }
  .wrap h2 {
    font-size: 20px;
  }
  .wrap p {
    font-size: 15px;
  }
  /* FAQ Page */
  .wrap-FAQ h1 {
    font-size: 25px;
  }
  .wrap-FAQ h2 {
    font-size: 15px;
  }
  .wrap-FAQ p {
    font-size: 10px;
  }

  /* explore Page*/
  .soda-name {
    font-size: 15px;
  }
  .soda-description {
    font-size: 10px;
  }
}
